@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Exo+2:ital,wght@0,400;1,300&display=swap');

* {
    font-family: 'Alegreya Sans', sans-serif;

}

body {
    background: linear-gradient(#9198e5, #e66465);
}

header{
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
    text-align: center;
}

h1, h2 {
    font-family: 'Exo 2', sans-serif;
    margin: 20px auto;
}

h3 {
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
}

#img-personal {
    width: 180px;
    border: 5px solid white;
}

.img-social {
    margin: 5px;
    width: 30px;
}

.img-social-last {
    width: 40px;
}

hr {
    background: rgba(205, 205, 205, 0.6);
    height: 3px;
    margin-top: 30px;
}

.div-experiencias, .div-educacion{
    margin-left: 20px;
}

.div-datosgenerales, .div-curriculum {
    text-align: center;
}

li {
    margin-top: 5px;
}


.center-list {
    text-align: center;
    margin: 0;
    padding: 0;
}